<html lang="en" class="mdl-js">
  <head>
    <title> BHOLA777: Online Sports Betting and Casino Sites in India </title>
   
    <meta charset="utf-8">
    <meta name="theme-color" content="#080A52">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <!-- Required meta tags facebook-->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="    BHOLA777: Online Sports Betting and Casino Sites in India
">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://BHOLA777.com">
    <meta property="og:site_name" content="BHOLA777">
    <meta property="og:image" content="https://tez888.com/images/tez888.png?v=62.11">
    <meta property="fb:pages" content="https://www.facebook.com/tez888india/">
    <meta name="twitter:card" content="summary">
    <link rel="icon" type="image/png" sizes="192x192" href="https://tez888.com/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://tez888.com/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://tez888.com/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://tez888.com/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/android-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script async="" src="https://www.clarity.ms/s/0.7.22/clarity.js"></script>
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-DWG261WCEV&amp;l=dataLayer&amp;cx=c"></script>
    <script async="" src="https://www.clarity.ms/tag/ij69x7vvv8"></script>
   
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PQT7BKHM"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="canonical" href="https://tez888.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
    <link rel="stylesheet" href="https://assets.tez888.com/static/css/style-light-pink.css?v=63.65">
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  
 
   
 
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.1.0/firebaseui.css">
   
    
  
    <meta name="dmca-site-verification" content="ejFrR25mY0dlWGxoczhSM2txeUVvdz090">
    <meta name="description" content="Tez888, one of the trusted online betting site in india offering sports betting, casino games and betting guide. Join today to claim your welcome bonus.">
    <link href="https://static-widget.pl-01.play-platform.com/public/sdk.css" rel="stylesheet">
    <script src="https://static-widget.pl-01.play-platform.com/public/sdk.js"></script>
    <style>
      .backodds {
  background: #72bbef;
  border-radius: 4px;
  padding: 14px;
  font-size: 14px;
  text-align: center;
  margin: 0 2px;
  width: 100%;
  height: auto;
  cursor: pointer;
  font-weight: 900;
}
.oddlay{
  background: #f492b7;
  border-radius: 4px;
  padding: 14px;
  font-size: 14px;
  text-align: center;
  margin: 0 2px;
  width: 100%;
  height: auto;
  cursor: pointer;
  font-weight: 900;

}

ul li{
  border-bottom: 2px solid #c7c8ca;
  padding:10px;
  margin-bottom:10px;
}

div.vsName {
  color: #333;
  font-weight:bold;
  text-overflow: ellipsis;
    white-space: nowrap;
  

}
.green-dot{
  display:inline-block;
  background-color: green;
  border-radius:50%;
  width:10px;
  height:10px;
  
}
       .float{
	position:fixed;
	width:77px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  height:63px;
}

.my-float{
	margin-top:16px;
}
      #preloader {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #01022f;
      }

      #preloader img {
        height: 180px;
        width: 340px;
      }

      @media(max-width: 568px) {
        #preloader img {
          height: 120px;
          width: 220px;
        }
      }
    </style>
    <script async="" id="amo_social_button_script" src="https://gso.amocrm.com/js/button.js"></script>
    <link rel="stylesheet" href="https://gso.amocrm.com/build/css/index.css?YTynP8gwbuc8Rzn4kfEOb">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">    
            \
               <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body cz-shortcut-listen="true">
        <div id="floater">
         <a href="https://api.whatsapp.com/send?phone=917688891113&text=Hello: Message to Get cricket/Casino ID." class="float" target="_blank">
             <i class="fa fa-whatsapp my-float" style="font-size:48px;color:red"></i>

</a>
   
    <div id="preloader" style="display: none;">
      <img src="https://tez888.com/images/newLoader2.gif">
    </div>
    <style>
      #load_screen {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(8, 10, 82, 0.8);
      }

      #load_screen img {
        height: 180px;
        width: 340px;
      }

      @media(max-width: 568px) {
        #load_screen img {
          height: 120px;
          width: 220px;
        }
      }
    </style>
    <div id="load_screen" style="display:none;">
      <img src="https://tez888.com/images/newLoader2.gif">
    </div>
    <header>
      <section class="top-header">
        <div class="top-header-left">
          <button class="menu-btn menuToggleLeft me-3">
            <img src="/images/menuLeft.svg" alt="+">
          </button>
          <a href="https://tez888.com">
            <img src="https://BHOLA777.shivaxchange.com/img/BHOLA777logo.png" alt="Tez888" class="logo">
          </a>
        </div>
        <a href="https://tez888.com/api/v1/login" class="login_btn botn botn-filled d-none">Login</a>
        <div class="d-flex justify-content-end">
          <div class="headerBtns android-app d-none">
            <a href="https://tez888.com/app/tez888.apk?af_js_web=true&amp;af_ss_ver=2_1_1&amp;pid=65490_65e1a247893d861fcb2cd365&amp;c=https://tez888.com/?stag=65490_65e1a247893d861fcb2cd365&amp;ref_url=https://tez888.com/?stag=65490_65e1a247893d861fcb2cd365" class="downloadAppBtn me-2 app-step">
              <img src="/images/topbardownloadApp.png" alt="Download Tez888 App">
            </a>
            <button class="login_btn m-0 botn botn-filled">Login/Signup</button>
          </div>
          <div class="headerBtns other-app">
            <button class="login_btn botn">Login</button>
            <button class="join_btn botn botn-filled">Join Now</button>
          </div>
        </div>
      </section>
      <!--|| LEFT-SIDEMENU-START ||-->
      <section class="sideMenuLeft">
        <div class="pc_nav_logo">
          <a href="/">
             <img src="https://BHOLA777.shivaxchange.com/img/BHOLA777logo.png" alt="Tez888" class="logo">
          </a>
        </div>
        <button class="backBtn menuToggleLeft">
          <img src="/images/back.svg" alt="can't load">
        </button>
        <ul class="menuItems">
          <li class="">
            <a href="https://tez888.com/sportsbook-lobby" class="menuItem">
              <i class="i_style i_sportsBook"></i>
              <span>SPORTSBOOK</span>
            </a>
          </li>
          <li class="">
            <a href="https://tez888.com/sports-lobby" class="menuItem">
              <i class="i_style i_sportsBook"></i>
              <span>EXCHANGE</span>
            </a>
          </li>
          <li class="">
            <a href="https://tez888.com/live-casino" class="menuItem">
              <i class="i_style i_liveCasino"></i>
              <span>LIVE CASINO</span>
            </a>
          </li>
          <li class="">
            <a href="https://tez888.com/casino" class="menuItem">
              <i class="i_style i_casino"></i>
              <span>CASINO</span>
            </a>
          </li>
          <li class="">
            <a href="https://tez888.com/promotion" class="menuItem">
              <i class="i_style i_promo"></i>
              <span>PROMOTIONS</span>
            </a>
          </li>
          <li class="">
            <a href="https://tez888.com/leaderboards" class="menuItem">
              <i class="i_style i_leaderboard"></i>
              <span>LEADERBOARD</span>
            </a>
          </li>
        </ul>
        <div class="login_join">
          <a href="" class="login_btn botn my-3 py-2">Login</a>
          <button class="join_btn botn my-2 py-2 botn-filled">Join Now</button>
          <a href="https://tez888.com/app/tez888.apk" class="downloadAppBtn android-app d-none">
            <img src="/images/downloadApp.png" alt="Download Tez888 App">
          </a>
        </div>
   
      </section>
    </header>
    <main class="index-main">
      <!--|| RIGHT-SIDEMENU-START ||-->
      <section class="sideMenuRight">
        <button class="backBtn menuToggleRight">
          <img src="/images/back.svg" alt="can't load">
        </button>
        <div class="logout">
          <a href="https://tez888.com/api/v1/logout" class="menuItem logout_menu">
            <i class="i_style i_logout"></i>
            <span>Log out</span>
          </a>
        </div>
        <!-- <div class="bottomBox"><div class="row"><a href="https://tez888.com/app/tez888.apk" targer="_blank" class="col-12">
                Download App
            </a><button class="col-6">
                help Center
            </button></div></div>    -->
      </section>
      <marquee class="marqueee" direction="left" scrollamount="10" onmouseover="this.stop();" onmouseout="this.start();">
        <span> Enjoy Exclusive Welcome Bonus upto Rs.35,000. Deposit and claim now. </span>
        <span> Join 99L Maximise March Casino Leaderboard till 31st Mar! Maxbet on Casino and Live Casino and win big. </span>
        <span> Install the BHOLA777 app and unlock a Rs.500 bonus and win a One Plus Open weekly. </span>
      </marquee>
      <div id="altas-promotion" style="display:none;" class="container-wd mb-4">
        <div class="sdkw-slider">
          <div class="sdkw-slides-container">
            <div class="sdkw-slides sdkw-animation" style="left: 0px;">
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
              <div class="sdkw-slide" style="width: 252px; margin-right: 6px;">
                <div class="sdkw-event-placeholder">
                  <div class="sdkw-header">
                    <div class="sdkw-title"></div>
                    <div class="sdkw-time"></div>
                  </div>
                  <div class="sdkw-outcome-placeholder">
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                    <div class="sdkw-item"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sdkw-arrows">
            <button type="button" class="sdkw-left">
              <svg width="5" height="10" viewBox="0 0 5 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 0L0 5L5 10V0Z" fill="currentColor"></path>
              </svg>
            </button>
            <button type="button" class="sdkw-right">
              <svg width="5" height="10" viewBox="0 0 5 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0L5 5L0 10V0Z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <section class="container-wd">
        <div class="row banner_box" style="height:200px">
          <div class="slide col-12">
            <div id="carouselExampleIndicators" class="carousel slide pointer-even slick_slide" data-bs-ride="carousel">
           
                <div >
                
                    <img src="https://moxbet9.com/Images/1692077913600%20(2).jpg" alt="" class="img-fluid">
                 
                </div>
                <div >
                 
                    <img src="https://moxbet9.com/Images/1691526307757.png" alt="" class="img-fluid">
               
                </div>
                <div >
                
                 <img src="https://moxbet9.com/Images/1692077913600%20(2).jpg" alt="" class="img-fluid">
                  
                </div>
               
                <div >
                
                   <img src="https://moxbet9.com/Images/1692077913600%20(2).jpg" alt="" class="img-fluid">
                 
                </div>
              
                <div >
                
                    <img src="https://moxbet9.com/Images/1692077913600%20(2).jpg" alt="" class="img-fluid">
                 
                </div>
              
                <div >
                
                      <img src="https://moxbet9.com/Images/1692077913600%20(2).jpg" alt="" class="img-fluid">
                 
                </div>
              
                <div >
                
                  <img src="https://moxbet9.com/Images/1692077913600%20(2).jpg" alt="" class="img-fluid">
                 
                </div>
             
                <div >
                
                    <img src="https://assets.tez888.com/images/1706769766-300-Welcome-Bonus---Feb.png" alt="" class="img-fluid">
                 
                </div>
           
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="active" aria-current="true" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class="" aria-current="true" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class="" aria-current="true" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" class="" aria-current="true" aria-label="Slide 8"></button>
              </div>
            </div>
          </div>
              </div>
        
    
      </section>

      {{!-- Odds Section Start --}}
      <div class="container-fluid">
    <div id="oddsContainer">
    
      </div>
  {{!-- Odds Section --}}
  <div class="container-fluid mt-3">
  <ul id="oddsList" class="col-12" style="overflow:hidden;overflow-x:scroll">
   <li class="d-flex align-items-center" >
   <div class="col-6 d-flex justify-content-start " style="font-weight:bold">
 Game
   </div>
   <div class="col-6 d-flex " style="justify-content:space-evenly">
   <div class="col-2" style="font-weight:bold;text-align:center">
      <em>1 </em>
   
   </div>
    <div class="col-2" style="font-weight:bold;text-align:center">
      <em>X </em>
     
   </div>
    <div class="col-2" style="font-weight:bold;text-align:center">
      <em>2 </em>
     
   </div>
 
   
  
   </div>

   </div>

  </li>
  <li class="d-flex align-items-center flex-column flex-sm-row" >
   <div class="col-12 col-lg-6 d-flex  vsname" style="white">
  IndisVsEngland
   </div>
   <div class="col-12 col-lg-6 d-flex align-self-start">
   <div class="backodds">
      <em>1.96 </em>
   
   </div>
    <div class="oddlay">
      <em>1.96 </em>
     
   </div>
    <div class="backodds">
      <em>1.96 </em>
     
   </div>
    <div class="oddlay">
      <em>1.96 </em>
     
   </div>
    <div class="backodds">
      <em>1.96 </em>
    
   </div>
    <div class="oddlay">
      <em>1.96 </em>
     
   </div>
   </div>

   </div>

  </li>
  </ul>
  
</div>
      </div>
      {{!-- Odds Section End --}}
    
      <section class="casino container-wd">
        <div class="casinoLeft">
          <div class="casinoLeftTop">
            <div class="d-flex">
              <div class="casinoLeftTopChild">
                <h1>live-casino</h1>
                <span class="whiteP">300+ Games</span>
              </div>
            </div>
            <a class="botn showMob botn-filled" href="/live-casino">Go to Live Casino</a>
          </div>
          <a class="botn showPC botn-filled" href="/live-casino">Go to Live Casino</a>
        </div>
        <div class="casinoRight">
          <section>
            <div class="mt-3">
              <div class="games_box">
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/evo_liveblackjacklobby.webp" alt="" data-game="Blackjack Lobby" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Blackjack Lobby" data-game-type="dreamcasino:evo_liveblackjacklobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                      <div class="gameImageBox_middle play_game" data-game="Blackjack Lobby" data-game-type="dreamcasino:evo_liveblackjacklobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Blackjack Lobby">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Blackjack Lobby</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/roulette-lobby-thumb.webp" alt="" data-game="Roulette Lobby" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Roulette Lobby" data-game-type="dreamcasino:evo_liveroulettelobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                      <div class="gameImageBox_middle play_game" data-game="Roulette Lobby" data-game-type="dreamcasino:evo_liveroulettelobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Roulette Lobby">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Roulette Lobby</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/evo_livebaccaratlobby.webp" alt="" data-game="Baccarat Lobby" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Baccarat Lobby" data-game-type="dreamcasino:evo_livebaccaratlobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                      <div class="gameImageBox_middle play_game" data-game="Baccarat Lobby" data-game-type="dreamcasino:evo_livebaccaratlobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Baccarat Lobby">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Baccarat Lobby</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/threecardpoker-thumb.webp" alt="" data-game="Three Card Poker Lobby" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Three Card Poker Lobby" data-game-type="dreamcasino:evo_threecardpokerlobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                      <div class="gameImageBox_middle play_game" data-game="Three Card Poker Lobby" data-game-type="dreamcasino:evo_threecardpokerlobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Three Card Poker Lobby">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Three Card Poker Lobby</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/evo_ultimatetexasholdemlobby.webp" alt="" data-game="Ultimate Texas Holdem Lobby" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Ultimate Texas Holdem Lobby" data-game-type="dreamcasino:evo_ultimatetexasholdemlobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                      <div class="gameImageBox_middle play_game" data-game="Ultimate Texas Holdem Lobby" data-game-type="dreamcasino:evo_ultimatetexasholdemlobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Ultimate Texas Holdem Lobby">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Ultimate Texas Holdem Lobby</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/evo_gameshowslobby.webp" alt="" data-game="Game Shows Lobby" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Game Shows Lobby" data-game-type="dreamcasino:evo_gameshowslobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                      <div class="gameImageBox_middle play_game" data-game="Game Shows Lobby" data-game-type="dreamcasino:evo_gameshowslobby" data-game-provider="dreamcasino" data-game-category="Live Lobby">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Game Shows Lobby">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Game Shows Lobby</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamdelhi.com/dc/evo_crazy_time.webp" alt="" data-game="Crazy Time" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Crazy Time" data-game-type="dreamcasino:evo_crazy_time" data-game-provider="dreamcasino" data-game-category="Game Show">
                      <div class="gameImageBox_middle play_game" data-game="Crazy Time" data-game-type="dreamcasino:evo_crazy_time" data-game-provider="dreamcasino" data-game-category="Game Show">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Crazy Time">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Crazy Time</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/evo_monopolylive.webp" alt="" data-game="Monopoly live" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Monopoly live" data-game-type="dreamcasino:evo_monopolylive" data-game-provider="dreamcasino" data-game-category="Game Show">
                      <div class="gameImageBox_middle play_game" data-game="Monopoly live" data-game-type="dreamcasino:evo_monopolylive" data-game-provider="dreamcasino" data-game-category="Game Show">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Monopoly live">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Monopoly live</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/evo_supersicbo.webp" alt="" data-game="Super Sic Bo" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Super Sic Bo" data-game-type="dreamcasino:evo_supersicbo" data-game-provider="dreamcasino" data-game-category="Live Popular">
                      <div class="gameImageBox_middle play_game" data-game="Super Sic Bo" data-game-type="dreamcasino:evo_supersicbo" data-game-provider="dreamcasino" data-game-category="Live Popular">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Super Sic Bo">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Super Sic Bo</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/evo_dragontiger.webp" alt="" data-game="Dragon Tiger" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Dragon Tiger" data-game-type="dreamcasino:evo_dragontiger" data-game-provider="dreamcasino" data-game-category="Live Popular">
                      <div class="gameImageBox_middle play_game" data-game="Dragon Tiger" data-game-type="dreamcasino:evo_dragontiger" data-game-provider="dreamcasino" data-game-category="Live Popular">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Dragon Tiger">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Dragon Tiger</h3>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section class="casino container-wd">
        <div class="casinoLeft">
          <div class="casinoLeftTop">
            <div class="d-flex">
              <div class="casinoLeftTopChild">
                <h1>casino</h1>
                <span class="whiteP">300+ Games</span>
              </div>
            </div>
            <a class="botn showMob botn-filled" href="/casino">Go to Casino</a>
          </div>
          <a class="botn showPC botn-filled" href="/casino">Go to Casino</a>
        </div>
        <div class="casinoRight">
          <section>
            <div class="mt-3">
              <div class="games_box">
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://tez888-new-resources.s3.ap-south-1.amazonaws.com/games/thumbnails/aviator_14899.jpg" alt="" data-game="AVIATOR" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="AVIATOR" data-game-type="dreamcasino:sbe_aviator" data-game-provider="dreamcasino" data-game-category="Casual Games">
                      <div class="gameImageBox_middle play_game" data-game="AVIATOR" data-game-type="dreamcasino:sbe_aviator" data-game-provider="dreamcasino" data-game-category="Casual Games">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="AVIATOR">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>AVIATOR</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://hx-app-assets.s3.eu-west-2.amazonaws.com/gap_casino/jili_mines.webp" alt="" data-game="Mines" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Mines" data-game-type="dreamcasino:jili_mines" data-game-provider="dreamcasino" data-game-category="Casino">
                      <div class="gameImageBox_middle play_game" data-game="Mines" data-game-type="dreamcasino:jili_mines" data-game-provider="dreamcasino" data-game-category="Casino">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Mines">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Mines</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/sbe_goal.webp" alt="" data-game="GOAL" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="GOAL" data-game-type="dreamcasino:sbe_goal" data-game-provider="dreamcasino" data-game-category="Casual Games">
                      <div class="gameImageBox_middle play_game" data-game="GOAL" data-game-type="dreamcasino:sbe_goal" data-game-provider="dreamcasino" data-game-category="Casual Games">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="GOAL">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>GOAL</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://cdn.dreamcasino.live/bgaming/bgm_plinko.webp" alt="" data-game="Plinko" title="" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Plinko" data-game-type="dreamcasino:bgm_plinko" data-game-provider="dreamcasino" data-game-category="Video Slots">
                      <div class="gameImageBox_middle play_game" data-game="Plinko" data-game-type="dreamcasino:bgm_plinko" data-game-provider="dreamcasino" data-game-category="Video Slots">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Plinko">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Plinko</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://storage.googleapis.com/images-games-prod/gpi-1947.jpg" alt="Carats Whisper" data-game="Carats Whisper" title="Carats Whisper" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Carats Whisper" data-game-type="CT-1088" data-game-provider="wac" data-game-category="slot">
                      <div class="gameImageBox_middle play_game" data-game="Carats Whisper" data-game-type="CT-1088" data-game-provider="wac" data-game-category="slot">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Carats Whisper">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Carats Whisper</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://storage.googleapis.com/images-games-prod/gpi-2058.jpg" alt="First Person Dream Catcher" data-game="First Person Dream Catcher" title="First Person Dream Catcher" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="First Person Dream Catcher" data-game-type="EVOLUTION-rng~moneywheel-rng~dreamcatcher" data-game-provider="wac" data-game-category="live">
                      <div class="gameImageBox_middle play_game" data-game="First Person Dream Catcher" data-game-type="EVOLUTION-rng~moneywheel-rng~dreamcatcher" data-game-provider="wac" data-game-category="live">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="First Person Dream Catcher">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>First Person Dream Catcher</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://www.googleapis.com/download/storage/v1/b/images-games-prod/o/gpi-8038.jpg?generation=1650971132143990&amp;alt=media" alt="Virtual Horse Racing" data-game="Virtual Horse Racing" title="Virtual Horse Racing" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Virtual Horse Racing" data-game-type="KM-KM_Virtual_Horse_Racing" data-game-provider="wac" data-game-category="table_game">
                      <div class="gameImageBox_middle play_game" data-game="Virtual Horse Racing" data-game-type="KM-KM_Virtual_Horse_Racing" data-game-provider="wac" data-game-category="table_game">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Virtual Horse Racing">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Virtual Horse Racing</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://storage.googleapis.com/images-games-prod/gpi-7726.jpg" alt="Narcos" data-game="Narcos" title="Narcos" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Narcos" data-game-type="EVOLUTION-narcos-narcos0000000000" data-game-provider="wac" data-game-category="slot">
                      <div class="gameImageBox_middle play_game" data-game="Narcos" data-game-type="EVOLUTION-narcos-narcos0000000000" data-game-provider="wac" data-game-category="slot">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Narcos">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Narcos</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://storage.googleapis.com/images-games-prod/gpi-3229.jpg" alt="Money Mouse" data-game="Money Mouse" title="Money Mouse" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Money Mouse" data-game-type="PRPLAY-vs25mmouse" data-game-provider="wac" data-game-category="slot">
                      <div class="gameImageBox_middle play_game" data-game="Money Mouse" data-game-type="PRPLAY-vs25mmouse" data-game-provider="wac" data-game-category="slot">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Money Mouse">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Money Mouse</h3>
                </div>
                <div class="col-lg-2 col-md-3 col-4 game_container  login_btn ">
                  <div class="gameImageBox">
                    <img src="https://storage.googleapis.com/images-games-prod/gpi-3765.jpg" alt="Ramses Rising" data-game="Ramses Rising" title="Ramses Rising" class="img-fluid">
                    <div class="hoverWrap play_game_new" data-game="Ramses Rising" data-game-type="BF-BFGramses-rising" data-game-provider="wac" data-game-category="slot">
                      <div class="gameImageBox_middle play_game" data-game="Ramses Rising" data-game-type="BF-BFGramses-rising" data-game-provider="wac" data-game-category="slot">
                        <i class="i_style i_live"></i>
                      </div>
                      <div class="gameImageBox_bottom d-none">
                        <button class="gameImageBox_Btn demo_game" data-game="Ramses Rising">PLAY DEMO</button>
                      </div>
                    </div>
                  </div>
                  <h3>Ramses Rising</h3>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section class="casino container-wd providers my-5">
        <div class="providerTop">
          <h1 class="text-center">Top Providers</h1>
          <h3 class="yellowP text-center">Play Your favorite Casino Games with Top Providers</h3>
        </div>
        <div class="provider">
          <img src="https://assets.tez888.com/Media/1655200413-evolutiongaming.svg" style="height: 32px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200421-evoplay.svg" style="height: 31px;padding: 5px;filter: brightness(0.8);opacity: .8;">
          <img src="https://assets.tez888.com/Media/1655200427-ezugi-o.svg" style="height: 35px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200435-microgaming.svg" style="height: 35px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200442-netent.svg" style="height: 35px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200450-playngo.svg" style="height: 35px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200459-pragmaticplay.svg" style="height: 45px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200467-redtigergaming.svg" style="height: 35px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200474-superspadegames.svg" style="height: 35px;padding: 5px;filter: brightness(0.8);">
          <img src="https://assets.tez888.com/Media/1655200483-yggdrasil.svg" style="height: 35px;padding: 5px;filter: brightness(0.8);">
        </div>
      </section>
      <section class="testimonol_container">
        <h1>Testimonials</h1>
        <h3 class="yellowP text-center">We believe in fair and superior gaming!</h3>
        <div class="testimonol_box overflow_slider_color">
          <div class="mx-3">
            <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
              <h2 style="font-size: 1.5rem; font-weight: 500;">This casino features the best casino games &amp; sports match selection, as well as lucrative bonuses. Keep it up BHOLA777.</h2>
              <div class="testimonolUser">
                <h3 class="yellowP"></h3>
                <p>From Noida</p>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
              <h2 style="font-size: 1.5rem; font-weight: 500;">The best sportsbook website that feels like a land-based casino. I predicted the match with the best odds &amp; got the win.</h2>
              <div class="testimonolUser">
                <h3 class="yellowP"></h3>
                <p>From Bangalore</p>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
              <h2 style="font-size: 1.5rem; font-weight: 500;">BHOLA777 proved their faster cashouts. I played many casino games &amp; won huge amounts. I cashed out within a few hours.</h2>
              <div class="testimonolUser">
                <h3 class="yellowP"></h3>
                <p>From Lucknow</p>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
              <h2 style="font-size: 1.5rem; font-weight: 500;">After a referral from a friend, I joined BHOLA777 &amp; made Rs 25000 in just 1 week. It is a 100% trusted gaming platform.</h2>
              <div class="testimonolUser">
                <h3 class="yellowP"></h3>
                <p>From Chennai</p>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
              <h2 style="font-size: 1.5rem; font-weight: 500;">BHOLA777 offers the best VIP program. Not only are the bonuses great, but 24/7 customer support team is happy to help.</h2>
              <div class="testimonolUser">
                <h3 class="yellowP"></h3>
                <p>From Mumbai</p>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <div class="testimonol mx-auto" style="background: #eff2f4; border: 0; border-radius: 1rem;">
              <h2 style="font-size: 1.5rem; font-weight: 500;">BHOLA777 is a legal casino that favors responsible gaming. I found a deposit and withdrawal methods convenient for all.</h2>
              <div class="testimonolUser">
                <h3 class="yellowP"></h3>
                <p>From Pune</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script>
        $(document).ready(function() {
          var slider8 = JSON.parse('{"arrows":true,"accessiblity":true,"autoplay":true,"centerMode":true,"focusOnSelect":true,"dots":true,"fade":true,"infinite":true,"pauseOnHover":true,"responsive":[{"breakpoint":600,"settings":{"slidesToShow":2,"slidesToScroll":1,"infinite":true}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1,"infinite":true}}],"swipe":true,"useCSS":true,"touchMove":true,"variableWidth":true}')
          $('.slider-8').slick(slider8);
        })
      </script>
      <section class="testimonol_container">
        <h1>BHOLA777 - Your Apex Choice for Online Betting in India</h1>
        <div class="container-wd">
          <p>BHOLA777, as the name suggests, is one of the big-time sleepers among the best sports betting sites in India. We have now become one of the nations trusted online sports since all of our experts and the in-house team have made the jump from daily overseas top-notch online betting sites to come under one roof and develop BHOLA777. With our global betting proficiency, we hardwire the highly extensive range of casino and online betting games in Bharat. Claiming unbeatable betting odds and out-of-the-box online betting options you can access from your smartphone. We bet your experience will barely take you to the other online sports betting platforms.</p>
        </div>
      </section>
      <section class="testimonol_container">
        <h2 style="font-size:22px; font-weight:700;">Why Choose BHOLA777 Website for Online Betting in India?</h2>
        <div class="container-wd">
          <p>BHOLA777 is one of the best online betting sites in India, as it offers bettors both popular and niche sports. Plus, it has a mobile platform design. Some of our bettors think our website holds a striking resemblance with the land-based casinos. People who engage with our website account for match prediction with the best odds and claim the win, followed by faster cashouts within a few hours. Plus, we ensure customers are valued by offering appealing bonuses, quick payout, and distinct games.</p>
        </div>
      </section>
      <section class="testimonol_container">
        <h1>Frequently Asked Questions</h1>
        <div class="container-wd">
          <div class="language-tabs">
            <button class="active-tab" onclick="toggleTab('faqTab1')">English</button>
         
          </div>
          <div id="faqTab1" class="faq-tab ">
            <div class="accordion show-five-faqs tezAccordion" data-id="1" id="tezAccordion1">
              <div class="accordion-item" style="margin-bottom: 5px;">
                <h2 class="accordion-header" id="headingOne0">
                  <button class="accordion-button  " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne0" aria-expanded="1" aria-controls="collapse0"> Does BHOLA777 have Live dealer games? </button>
                </h2>
                <div id="collapseOne0" class="accordion-collapse collapse show" aria-labelledby="headingOne0" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>BHOLA777 offers various Live Dealer Casino games, including Blackjack, Andar Bahar, Roulette, Baccarat, Poker, and Teen Patti, ensuring diverse entertainment.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px;">
                <h2 class="accordion-header" id="headingOne1">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="" aria-controls="collapse1"> What is withdrawal processing time? </button>
                </h2>
                <div id="collapseOne1" class="accordion-collapse collapse " aria-labelledby="headingOne1" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Withdrawals on BHOLA777 are processed swiftly, typically within 2 to 24 hours. Experience efficient and timely withdrawal services on our platform.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px;">
                <h2 class="accordion-header" id="headingOne2">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="" aria-controls="collapse2"> In how much time will I get my deposit added to my wallet? </button>
                </h2>
                <div id="collapseOne2" class="accordion-collapse collapse " aria-labelledby="headingOne2" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Any deposit, regardless of the method, should reflect in your wallet within 5 minutes. If not received, please promptly reach out to our Customer Support for assistance and resolution.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px;">
                <h2 class="accordion-header" id="headingOne3">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="" aria-controls="collapse3"> How can I release locked bonuses on BHOLA777? </button>
                </h2>
                <div id="collapseOne3" class="accordion-collapse collapse " aria-labelledby="headingOne3" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>The locked bonus will be released only on Live Casino not on any Sport or Exchange, on every bet of 100rs, 2rs from the locked bonus will be released to the earned bonus.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px;">
                <h2 class="accordion-header" id="headingOne4">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="" aria-controls="collapse4"> What does it mean when my bets are showing as 'Void'? </button>
                </h2>
                <div id="collapseOne4" class="accordion-collapse collapse " aria-labelledby="headingOne4" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Void bets prompt stake refunds within 24 hours. For further information, contact CS.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne5">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="" aria-controls="collapse5"> How to verify my account on BHOLA777? </button>
                </h2>
                <div id="collapseOne5" class="accordion-collapse collapse " aria-labelledby="headingOne5" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>To verify your account, Visit Account Profile, update details, click Verification, upload a Govt-issued ID. Contact our support at support@BHOLA777.com for swift verification assistance.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne6">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne6" aria-expanded="" aria-controls="collapse6"> How to contact BHOLA777 Customer Support? </button>
                </h2>
                <div id="collapseOne6" class="accordion-collapse collapse " aria-labelledby="headingOne6" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>For assistance, click the chat option on our website/app. Reach out to Customer Support at support@BHOLA777.com. We're here to help and address your queries promptly.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne7">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne7" aria-expanded="" aria-controls="collapse7"> Is a Sports Exchange available on BHOLA777? </button>
                </h2>
                <div id="collapseOne7" class="accordion-collapse collapse " aria-labelledby="headingOne7" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Yes! BHOLA777 offers sports exchange services, allowing you to play with competitive bet odds instantly. Don't miss out on market offerings!</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne8">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne8" aria-expanded="" aria-controls="collapse8"> How to place a bet in SportsBook? </button>
                </h2>
                <div id="collapseOne8" class="accordion-collapse collapse " aria-labelledby="headingOne8" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Select a sport/event, choose a bet type, set stake, confirm bet. Check the rules and enjoy!</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne9">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne9" aria-expanded="" aria-controls="collapse9"> What is the minimum deposit and withdrawal on BHOLA777? </button>
                </h2>
                <div id="collapseOne9" class="accordion-collapse collapse " aria-labelledby="headingOne9" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>BHOLA777 has a minimum deposit of 500/- and a minimum withdrawal requirement of 500/-.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne10">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne10" aria-expanded="" aria-controls="collapse10"> What are the payment methods that BHOLA777 accepts currently? </button>
                </h2>
                <div id="collapseOne10" class="accordion-collapse collapse " aria-labelledby="headingOne10" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>BHOLA777 offers QR-UPI payments, Wallet transfers, and Bank Transfers, providing diverse payment options for users on its platform.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne11">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne11" aria-expanded="" aria-controls="collapse11"> What should I do if I'm unable to log in or not receiving OTP? </button>
                </h2>
                <div id="collapseOne11" class="accordion-collapse collapse " aria-labelledby="headingOne11" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Trouble logging in? Clear cache, cookies, and history. Wait a few hours and attempt login again for seamless access.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne12">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne12" aria-expanded="" aria-controls="collapse12"> How to check the latest promotions? </button>
                </h2>
                <div id="collapseOne12" class="accordion-collapse collapse " aria-labelledby="headingOne12" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Stay updated on BHOLA777's latest promotions by visiting https://BHOLA777.com/promotion</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne13">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne13" aria-expanded="" aria-controls="collapse13"> How to download BHOLA777 App? </button>
                </h2>
                <div id="collapseOne13" class="accordion-collapse collapse " aria-labelledby="headingOne13" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Visit BHOLA777 website, find top-right icon for app download. Exclusive for Android users. Download now for a seamless betting experience.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne14">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne14" aria-expanded="" aria-controls="collapse14"> How to register on BHOLA777? </button>
                </h2>
                <div id="collapseOne14" class="accordion-collapse collapse " aria-labelledby="headingOne14" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>Register on BHOLA777 with an active mobile number. Click "Join Now," enter your mobile number, receive OTP, and enter it. Your number is now registered with BHOLA777.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item" style="margin-bottom: 5px; display: none;">
                <h2 class="accordion-header" id="headingOne15">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne15" aria-expanded="" aria-controls="collapse15"> What casino games are available at BHOLA777? </button>
                </h2>
                <div id="collapseOne15" class="accordion-collapse collapse " aria-labelledby="headingOne15" data-bs-parent="#tezAccordion1">
                  <div class="accordion-body">
                    <p>We have almost all the popular games available like Live casino, Slots, Roulette, Baccarat, poker, AndarBahar, Teean patti, Blackjack, Jackpots etc.</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="pw-toggleFaqs" data-id="1" id="pw-toggleFaqs1" style="display: block;">See all</button>
          </div>
        
<script>
    $(document).ready(function(){
  $('.slick_slide').slick({
        autoplay: true,
       autoplaySpeed: 2000,
  });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elements = document.querySelectorAll('div, img, a, p, span');
    
    elements.forEach(function(element) {
        element.addEventListener('click', function(event) {
            // Your click event handler logic here
               window.location.href = 'https://api.whatsapp.com/send?phone=917688891113&text=hey';
            console.log('Clicked on element:', event.target);
        });
    });
});

</script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>

  <script>
   // Establish a connection to the Socket.io server
   const socket = io('http://127.0.0.1:8001/');
   socket.on("hello", (test_object) => {
  console.log(test_object); // "world"
 
});

   // Listen for the 'oddsUpdate' event from the server
   socket.on('oddsUpdate', (allOdds) => {
   
         console.log('Received updated odds:', allOdds);
         // Example: Update HTML elements with the updated odds
         document.getElementById('oddsContainer').innerHTML = JSON.stringify(allOdds);
    
   });
</script>
<script>
   $(document).ready(function() {
    setInterval(function() {
        $.ajax({
            url: 'http://localhost:8001/get-odds',
            method: 'GET',
            dataType: 'json',
           success: function(response) {
                console.log('Success:', response);
                // Clear the existing content before appending new data
                $('#oddsList').empty();

                // Iterate over each item in the response
                response.odds.forEach(function(item) {
                    // Create a new li element for each item
                    var li = $('<li>', { class: 'd-flex align-items-center flex-column flex-sm-row col-12', 'data-vsnameurl': item.vsNameUrl });

                    // Append the vsName to the li element
                    li.append($('<div>', { class: 'col-12 col-lg-6 d-flex vsname', text: item.vsName }));
                    var parentDiv = $('<div>', { class: 'col-12 col-lg-6 d-flex align-self-start' });
                    // Iterate over backOdds and layOdds arrays
                    for (var i = 0; i < item.backOdds.length; i++) {
                        // Create div elements for back odds and lay odds
                        var backOddsDiv = $('<div>', { class: 'backodds' }).append($('<em>', { text: item.backOdds[i] }));
                        var layOddsDiv = $('<div>', { class: 'oddlay' }).append($('<em>', { text: item.layOdds[i] }));

                        // Append back odds and lay odds divs to the li element
                        parentDiv.append(backOddsDiv, layOddsDiv);
                        li.append(parentDiv);
                    }

                    // Append the li element to the ul
                    $('#oddsList').append(li);
                });
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle the error here
            }
        });
    }, 500); 
});

</script>

  
  </body>
</html>